@font-face {
	font-family: 'Astronaut';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('font/astronaut.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

*,
*::after,
*::before {
	user-select: none;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 16px;
}

button {
	border: none;
	cursor: pointer;
	background-color: #fff;
}

body {
	overflow: hidden;
	font-family: monospace;
	background-color: #2d2d2d;
}

canvas {
	position: absolute;
	background-color: #2d2d2d;
	background-image: url('images/map.jpg');
	/* object-fit: cover; */
}

.placeholder {
	font-size: 5vh; /* (24px) */
	color: #4e4e4e;
}

#info {
	position: absolute;
	top: 60px;
	left: 80%;
	color: white;
	font-size: 1.2em;
	white-space: nowrap;
	z-index: 1;
}

.settings {
	position: absolute;
	color: white;
	font-size: 1rem;
	white-space: nowrap;
	z-index: 1;
}

.settings__title,
.settings__range {
	cursor: pointer;
}

.settings-advanced {
	margin-left: 10px;
}

.hide {
	display: none;
	user-select: none;
	pointer-events: none;
	width: 1px;height: 1px;
	top: 0; left: 0;
	opacity: 0;
}

.container {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-image: url('images/main-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-family: 'Open Sans', sans-serif;
	z-index: 1;
	font-weight: bold;
}

.stats__inner, .shop__inner {
	max-width: calc((100vw*966)/1464);
	margin: calc((100vh*9)/720) auto;
	background-color: rgba(255,255,255, 0.2);
}

.slider-head {
	display: flex;
	height: calc((100vh*100)/720);
	background-color: #222421;
}
.slider-head button {
	min-width: calc((100vh*100)/720);
	background-color: #84c432;
	color: #fff;
	font-size: calc((100vh*64)/720);
}

.slider-head__title {
	width: 100%;
	line-height: calc((100vh*100)/720);
	text-transform: uppercase;
	color: #fff;
	background-color: #222421;
	text-align: center;
	font-size: calc((100vh*32)/720); /* 25px */
}

/* * Buttons * */

button {
	cursor: pointer;
}

#buttons {
	display: flex;
	position: fixed;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -110%);
	z-index: 1;
}
#buttons__wrapper {
	display: flex;
	flex-wrap: wrap;
}
#buttons__wrapper button {
	flex: 100% 0;
}

#buttons button {
	text-transform: uppercase;
	background-color: #f0f0f0;
	text-align: center;
	border: 2px solid;
	padding: 20px 30px;
}

#buttons button:active {
	box-shadow: inset 0px 0px 10px 2px;
}

/* * Topbar * */

.topbar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	color: #ffffff;
	font-size: 5vh; /* (24px) */
	font-family: 'Astronaut', 'Courier New', Courier, monospace;
	z-index: 1;
}

.topbar__inner {
	width: 120vh;
	line-height: 8vh;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}

.topbar__info {
	display: flex;
	justify-content: space-between;
    align-items: center;
	background-color: #222421;
	padding: 0 2.3% 0 2.8%;
	width: 67.5%;
}
.topbar__info i {
	font-size: 5vh;
	margin-right: 10px;
	color: #feb500;
}
.topbar__info div:not([class]) {
	color: #fff;
	line-height: 5vh;
	margin-right: 10px;
}
.topbar__info div:not([class]) img {
	filter: invert(1) contrast(1);
	height: 5vh;
}

.topbar__info-capacity {
	display:flex;
	align-items: center;
}

.topbar button{
	font-size: 6vh;
	line-height: 100%;
	width: 8%;
}
.topbar__shop-btn {
	width: 16% !important;
}

.topbar__menu-btn {
	margin-left: 1px;
}

.topbar button:active i {
	color: #84c432;
}

/* * MENU * */

.menu__inner {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 56%;
	height: 100vh;
	margin: 0 auto;
	font-weight: bold;
	background-color: rgba(255, 255, 255, 0.3);
}
.menu__list {
	width: 100%;
}
.menu__item {
	width: 95%;
	height: 14vh;
	margin: 0 auto;
}

.menu__item:not(:last-child) {
	margin-bottom: 8px;
}

.menu__btn {
	display: flex;
	height: 100%;
	width: 100%;
	color: #fff;
	font-weight: bold;
	font-family: inherit;
}

.menu__btn i {
	background-color: #84c432;
	/* font-size: 54px; */
	font-size: 9vh;
	flex-basis: 14vh;
	line-height: 14vh;
	flex-shrink: 0;
}

.menu__btn span {
	text-transform: uppercase;
	background-color: #222421;
	/* font-size: 28px; 22px */
	font-size: 4.6vh;
	flex-basis: 87%;
	line-height: 14vh;
}

.menu__btn:active span {
	background-color: #84c432;
}

#close-btn {
	position: absolute;
	left: 0;
	top: 50%;
	line-height: calc((100vh*90)/720);
	width: calc((100vh*45)/720);
	transform: translateY(-50%);
	background-color: #84c432;
	color:#fff;
	font-weight: bold;
	border-radius: 0 calc((100vh*90)/720) calc((100vh*90)/720) 0;
	font-size: calc((100vh*40)/720);
}
#close-btn i {
	margin-right: calc((100vh*8)/720);
}

/* * Stats * */


.stats {
	width: 100%;
}

.stats__body {
	display: flex;
	font-size: calc((100vh*28)/720);
	width: 100%;
	height: calc((100vh*556)/720);
}

.stats__body > div {
	width: 100%;
}
.stats__body > div:first-child {
	margin: calc((100vh*9)/720);
}

.seeds__head {
	display: flex;
	justify-content: space-between;
	color: #fff;
	line-height: calc((100vh*46)/720);
	background-color: #222421;
	padding: 0 calc((100vh*18)/720) 0 calc((100vh*22)/720);
}
.seeds__list {
	background-color: #fff;
	padding: calc((100vh*12)/720) calc((100vh*18)/720) calc((100vh*12)/720) calc((100vh*22)/720);
}
.seeds__item {
	display: flex;
	justify-content: space-between;
	line-height: calc((100vh*50)/720);
}

.seeds__item-name {
	display: flex;
	align-items: center;
}

.seeds__item-name img {
	flex-basis: calc((100vh*43)/720);
	margin-right: calc((100vw*16)/1464);
}

.stats__nav {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: #222421;
	text-align: center;
	height: calc((100vh*46)/720);
}
.stats__nav span {
	display: block;
	width: 15px;
	height: 15px;
	color: #fff;
	border-radius: 50%;
	background-color: #fff;
	margin: 0px 15px;
}

/* * Shop * */

.shop__inner {  
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 4.9fr 1fr;
	gap: calc((100vh*4)/720);
	grid-auto-flow: row;
	grid-template-areas:
	    "shop__head shop__head shop__head"
	    "shop__slider shop__slider shop__info"
	    "shop__btn-buy shop__btn-sell shop__btn-coins";
	color: #fff;
}

.shop__head { 
	grid-area: shop__head;
}

.shop__head-slider {
	width: calc(100% - 2*(100vh*100)/720);
}

.shop__slider { 
	grid-area: shop__slider;
	position: relative;
	background-color: #fff;
}

.shop__slider-content {
	height: 100%;
	width: 100%;
}

.shop__slider-item {
	display: flex !important;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	color: #222421;
}

.shop__slider-info {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #84c432;
	color: inherit;
}
.shop__slider-info i {
	width: calc((100vh*60)/720);
	line-height: calc((100vh*60)/720);
	font-size: calc((100vh*42)/720);
}

.shop__slider-prev, 
.shop__slider-next {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: calc((100vh*64)/720);
	color:#222421;
	background-color: transparent;
	z-index: 1;
}

.shop__slider-prev {
	left: calc((100vw*35)/1464);
}
.shop__slider-next {
	right: calc((100vw*35)/1464);
}

.shop__info { 
	grid-area: shop__info;
	background-color: #fff;
}

.shop__btn-buy { 
	grid-area: shop__btn-buy;
}

.shop__btn-sell { 
	grid-area: shop__btn-sell;
}

.shop__btn-coins { 
	grid-area: shop__btn-coins;
}

.shop__btn {
	display: flex;
	padding: 0 calc((100vw*30)/1464) 0 calc((100vw*20)/1464);
	align-items: center;
	justify-content: space-between;
	background-color: #222421;
}
.shop__btn:active {
	background-color: #84c432;
}
.shop__btn i {
	font-size: calc((100vh*60)/720);
}
.shop__btn-buy i {
	color: #84c432;
}
.shop__btn-sell i {
	color: red;
}
.shop__btn:active i {
	color: #fff;
}
.shop__btn-price {
	display: flex;
	align-items: center;
}
.shop__btn-icon {
	width: calc((100vh*60)/720);
	background-color: #feb500;
	border-radius: 50%;
}
.shop__btn-icon i {
	font-size: calc((100vh*44)/720);
	line-height: calc((100vh*60)/720);
	color: #222421;
}
.shop__btn:active .shop__btn-icon i {
	color: #222421;
}
.shop__btn span {
	font-weight: bold;
	color: #fff;
	font-size: calc((100vh*32)/720);
}

.shop__btn-coins span {
	text-transform: uppercase;
}



.shop__info {
}
.shop__info-money {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: calc((100%*60)/490);
	padding: 0 18px 0 8px;
	font-size: calc((100vh*32)/720);
	background-color: #222421;
}
.shop__info-icon {
	line-height: 42px;
	width: 42px;
	background-color: #fff;
	border-radius: 50%;
	color:#222421;
	text-align: center;
}
.shop__info-brand {
	height: calc((100%*140)/490);
}
.shop__info-name {
	font-size: calc((100vh*32)/720);
	text-align: center;
	background-color: #222421;
	line-height: calc((100vh*45)/720);
}
.shop__info-stats {
	display: flex;
	align-content: space-between;
	flex-wrap: wrap;
	height: calc((100%*245)/490);
	padding: calc((100%*28)/490) calc((100vw*20)/1464) calc((100%*34)/490);
}

.additional__row {
	display: flex;
}
.additional__row-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-width: calc((100vw*130)/1464);
}

.additional__row-item:first-child {
	margin-right: calc((100vw*20)/1464);
}
.additional__row-icon {
	line-height: calc((100vh*40)/720);
	height: calc((100vh*40)/720);
	width: calc((100vh*40)/720);
	background-color: #222421;
	text-align: center;
	border-radius: 50%;
	font-size: calc((100vh*35)/720);
	color: #fff;
}
.additional__row-icon i {
}
.additional__row-value {
	font-size: calc((100vh*27)/720);
	color: #222421;
}

.additional__row:last-child div {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: calc((100vw*13)/1464);
}

.additional__row:last-child img {
	filter: invert(1) contrast(1);
	height: calc((100vh*25)/720);
}


.slick-list {
	height: 100%;
}

.slick-track {
	height: 100%;
}


.slider {
	position: fixed;
	top: 50%;
	left: 0;
}